{% trans_default_domain "compte" %}
<div {{ attributes }} class="colonne-centre adresses">
	<h1>{{ "adresses"|trans }}</h1>
	<div class="scroll">
		<div class="scroll-content">
			{% for adresse in computed.adresses %}
				{{ component("AdresseItem", { adresse }) }}
			{% endfor %}
		</div>
	</div>
	<button class="bouton-vert ligne-centre" data-action="live#emit" data-live-event-param="modal-open"><img src="{{ asset("images/ic_add.png") }}">{{ "ajouter_adresse"|trans }}</button>
	{# {% component BootstrapModal with {id: 'new-address-modal'} %}
        {% block modal_body %}
            {{ component("AdresseForm", { user: app.user })}}
        {% endblock %}
    {% endcomponent %} #}
</div>
