{% trans_default_domain "compte" %}
<div {{ attributes }} class="colonne-centre adresses">
	<h1>{{ "adresses"|trans }}</h1>
	<div class="adresses-scroll">
		<div class="adresses-layout">
			{% for adresse in computed.adresses %}
				{{ component("AdresseItem", { adresse }) }}
			{% endfor %}
		</div>
	</div>
	<button class="bouton-vert ligne-centre"><img src="{{ asset("images/ic_add.png") }}">{{ "ajouter_adresse"|trans }}</button>
</div>
