<div {{ attributes }} {% if not this.visible %}hidden{% endif %} class="modal colonne-centre">
    <div class="conteneur">
        {{ form_start(this.form) }}
            {{ form_errors(this.form) }}
            {{ form_rest(this.form) }}
            <div class="boutons">
                <button type="submit" data-action="live#action" data-live-action-param="success">{{ "valider"|trans }}</button>
                <input type="button" data-action="live#emit" data-live-event-param="modal-close" value="{{ "fermer"|trans }}">
            </div>
        {{ form_end(this.form) }}
    </div>
</div>