{% trans_default_domain "panier" %}
<div{{attributes}} class="panier colonne-centre">
	<h1>{{ 'titre'|trans }}</h1>
	<div class="vinyles">

		{% for panierItem in computed.panier %}
			{{ component("PanierItem", { panierItem }) }}
		{% else %}
			<div class="colonne-centre" style="width: 100%;">
				{{ "panier_vide"|trans }}
			</div>
		{% endfor %}

	</div>

	{% if computed.panierItemsCount > 0 %}
		<p>{{ 'total'|trans }}
			:
			{{ computed.total }}
			€</p>

		{% if computed.panierHorsStock %}
			<p class="rouge">
				{{ 'quantite_insuffisante'|trans }}
			</p>
		{% endif %}

		<button data-action="live#action" data-live-action-param="payer">{{ 'payer'|trans }}</button>
	{% endif %}

</div>
