{% trans_default_domain "accueil" %}
<div{{attributes}} class="colonne-centre">

	<input type="text" data-model="search" placeholder="{{ "recherche"|trans }}" class="form-control" data-action="live#action" data-live-action-param="refreshPageOptions"/>

	<div class="page-options ligne-centre">
		<span class="ligne-centre">
			{% if this.page > 1 %}
				<button data-action="live#action" data-live-action-param="pageMoins">-</button>
			{% endif %}
			<p>{{ this.page }}
				/
				{{ this.pageCount }}</p>
			{% if this.page < this.pageCount %}
				<button data-action="live#action" data-live-action-param="pagePlus">+</button>
			{% endif %}
		</span>
		<span class="ligne-centre">
			<input type="number" data-model="min_value(1)|pageLimit" data-action="live#action" data-live-action-param="refreshPageOptions">
		</span>
	</div>

	<div class="vinyles">
		{% for vinyle in computed.vinyles %}
			<span class="vinyle-layout">
				<a href={{ path("vinyle", { "id": vinyle.getId() } ) }}>
					<div class="conteneur colonne-centre">
						<h1>{{ vinyle.getName() }}</h1>
						<h2>{{ vinyle.getAuthor().getName() }}</h2>
						<img src="{{ vinyle.getImage().getUrl() }}" alt="{{ vinyle.getName() }}">
						<label>{{ 'prix_label'|trans }}
							{{ vinyle.getPrice() }}
							€</label>
					</div>
				</a>
			</span>
		{% else %}
			<div class="colonne-centre" style="width: 100%;">
				{{ "pas_trouve"|trans }}
			</div>
		{% endfor %}
	</div>

</div>
