{% trans_default_domain "base" %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ "titre"|trans }}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block head %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <nav>
            <a href={{ path("home") }}>{{ "nav.accueil"|trans }}</a>
            {% if app.user %}<a href={{ path("panier") }}>{{ "nav.panier"|trans }}</a>{% endif %}
            {% if app.user %}<a href={{ path("compte") }}>{{ "nav.compte"|trans }}</a>{% endif %}
            {% if not app.user %}<a href={{ path("connexion") }}>{{ "nav.connexion"|trans }}</a>{% endif %}
            {% if not app.user %}<a href={{ path("inscription") }}>{{ "nav.inscription"|trans }}</a>{% endif %}
            <span>
                <img src="{{ asset("images/" ~ app.locale ~ ".jpg") }}" alt="{{ app.locale|upper }}">
                <select id="localeSelect">
                    {% for locale in locales %}
                        <option value="{{ locale }}" {% if locale == app.locale %}selected{% endif %}>{{ locale|upper }}</option>
                    {% endfor %}
                </select>
            </span>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
