{% trans_default_domain 'inscription' %}
{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }}
	| {{ 'titre'|trans }}
{% endblock %}

{% block body %}
	<div class="colonne-centre">

		{{ form_start(registrationForm) }}
		<h1>{{ 'formulaire.titre'|trans }}</h1>
		{{ form_errors(registrationForm) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.plainPassword, {
            label: 'formulaire.mot_de_passe_label'|trans
        }) }}
		{{ form_row(registrationForm.agreeTerms, {
			label: "formulaire.accepter_conditions_label"|trans
		}) }}

		<button type="submit" class="btn">{{ 'formulaire.bouton_submit'|trans }}</button>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
