{% trans_default_domain 'panier' %}
{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }}
	| {{ 'titre'|trans }}
{% endblock %}

{% block body %}
    <div class="panier colonne-centre">
        <h1>{{ 'titre'|trans }}</h1>

        {% if panier is empty %}
            <p>{{ 'panier.vide'|trans }}</p>
        {% else %}
            {% for panierItem in panier %}
                <div class="vinyle-layout conteneur colonne-centre">
                    <h1>{{ panierItem.getVinyle().getName() }}</h1>
                    <h2>{{ panierItem.getVinyle().getAuthor() }}</h2>
                    <img src="{{ panierItem.getVinyle().getImage().getUrl() }}" alt="{{ panierItem.getVinyle().getName() }}">
                </div>
            {% endfor %}

            <label>{{ 'panier.total'|trans }} : {{ total }} €</label>

            <button>{{ 'panier.payer'|trans }}</button>
        {% endif %}
    </div>
{% endblock %}
