<a href={{ path("vinyle", { "id": vinyle.getId() } ) }}>
	<div class="vinyle-layout">
		<h1>{{ vinyle.getName() }}</h1>
		<h2>{{ vinyle.getAuthor() }}</h2>
		<img src="{{ vinyle.getImage().getUrl() }}" alt="{{ vinyle.getName() }}">
		<label>Prix :
			{{ vinyle.getPrice() }}</label>
	</div>
</a>
