<div class="adresses-layout">
    {% for address in app.user.getAddress() %}
        <div class="adresse ligne-centre">
            <div class="adresse-info colonne-centre">
                <p>{{ address.country }}</p>
                <p>{{ address.city }}</p>
                <p>{{ address.postalCode }}</p>
                <p>{{ address.street }}</p>
            </div>
            <div class="colonne-centre">
                <button><img src="{{ asset("images/ic_edit.png") }}"></button>
                <button class="bouton-rouge"><img src="{{ asset("images/ic_delete.png") }}"></button>
            </div>
        </div>
    {% endfor %}
</div>